@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Professional Mode */
    --bg-color: #3E497A;

    --nav-bg-color: #21325E;

    --nav-modeswitch-bg: #F0F0F0;
    --nav-modeswitch-circle: #21325E;

    --nav-text-color: #F0F0F0;
    --nav-text-hover-color: #F1D00A;

    --nav-highlight-color: #F1D00A;

    --home-subtext: #F0F0F0;
    --home-main-text: #F1D00A;

    --qua-card-bg: #21325E;
    --qua-logo-color: #F1D00A;
    --qua-text-color: #F0F0F0;
    --qua-card-hover-bg: #F1D00A;
    --qua-card-hover-head: #21325E;
    --qua-card-hover-text: black;

    --pro-card-bg: #21325E;
    --pro-logo-color: #F1D00A;
    --pro-text-color: #F0F0F0;

    --contact-head: #F0F0F0;
    --contact-subhead: #F1D00A;
    --contact-logo-color: #F1D00A;
    --contact-logo-bg-color: #21325E;
    --contact-logo-hover-color: #21325E;
    --contact-logo-hover-bg-color: #F1D00A;
    --contact-text-color: #F0F0F0;
}

@keyframes nav-hover {
    0% {color: var(--nav-text-color);}
    100% {color: var(--nav-text-hover-color);}
}

@keyframes page-slide {
    0% {
        left : var(--from);
    }
    100% {
        left: var(--to);
    }
}

@keyframes move-highlight {
    0% {
        width: var(--prev-width);
        left : var(--prev-left);
    }

    100% {
        width: var(--cur-width);
        left : var(--cur-left);
    }
}

@keyframes card-hover {
    0% {
        margin-top: var(--prev-margin);
    }

    100% {
        margin-top: var(--cur-margin);
    }
}

@keyframes contact-hover {
    0% {
        background-color: var(--contact-logo-bg-color);
        color: var(--contact-logo-color);
    }
    100% {
        background-color: var(--contact-logo-hover-bg-color);
        color: var(--contact-logo-hover-color);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html {
    background-color: var(--bg-color);
    overflow: hidden;
}

body {
    width: 400vw;
    height: 100vh;
}

div.nav {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    background-color: var(--nav-bg-color);
    z-index: 10;
}

div.nav .modeswitch {
    width: 35px;
    height: 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--nav-modeswitch-bg);
    display: flex;
    align-items: center;
    padding: 2px;
}

div.nav .modeswitch .circle {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--nav-modeswitch-circle);
}

div.nav .nav-buttons {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

div.nav .nav-buttons {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

div.nav .nav-buttons p {
    cursor: pointer;
    font-weight: 600;
    color: var(--nav-text-color);
}

div.nav .nav-buttons p:hover {
    color: var(--nav-text-hover-color);
    animation: nav-hover 0.2s ease-in-out;
}

div.nav .nav-buttons .nav-highlight {
    position: fixed;
    width: 47px;
    height: 3px;
    background-color: var(--nav-highlight-color);
    top: 47px;
}

div.pages {
    width: 400vw;
    height: 100vh;
    display: flex;
    position: absolute;
    /* left: -100vw; */

    --from: 0vw
    /* --to: -100vw */
    /* animation: page-slide 1s ease-in-out; */
}

div.pages .home {
    width: 100vw;
    height: 100vh;
    display: flex;
}

div.pages .home .left {
    width: 50%;
}

div.pages .home .left img {
    width: 100%;
    margin: 5rem 0 0;
}

div.pages .home .left .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
    transition-delay: 300ms;
}

div.pages .home .left .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

div.pages .home .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.pages .home .right .text {
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5vw;
}

div.pages .home .right .text .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.5s;
    transition-delay: 300ms;
}

div.pages .home .right .text .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

div.pages .home .right .text-child:nth-child(2) {
    transition-delay: 500ms;
}

div.pages .home .right .text-child:nth-child(3) {
    transition-delay: 600ms;
}

div.pages .home .right .text-child:nth-child(4) {
    transition-delay: 700ms;
}

div.pages .home .right .text-child:nth-child(5) {
    transition-delay: 800ms;
}

div.pages .home .right .text h3 {
    font-size: 30pt;
    font-weight: 700;
    color: var(--home-subtext);
}

div.pages .home .right .text h1 {
    font-size: 60pt;
    font-weight: 900;
    color: var(--home-main-text);
}

div.pages .qualification {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

div.pages .qualification .cards {
    width: 90vw;
    height: calc(100vh - 50px);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
}

div.pages .qualification .cards .card {
    width: 300px;
    height: 300px;
    background-color: var(--qua-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem;
}

div.pages .qualification .cards .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.5s;
    transition-delay: 300ms;
}

div.pages .qualification .cards .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

div.pages .qualification .cards .card:nth-child(2) {
    transition-delay: 400ms;
}

div.pages .qualification .cards .card:nth-child(3) {
    transition-delay: 500ms;
}

div.pages .qualification .cards .card:nth-child(4) {
    transition-delay: 600ms;
}

div.pages .qualification .cards .card:nth-child(5) {
    transition-delay: 700ms;
}

div.pages .qualification .cards .card:nth-child(6) {
    transition-delay: 800ms;
}

div.pages .qualification .cards .card:nth-child(7) {
    transition-delay: 900ms;
}

::-webkit-scrollbar {
    display: none;
  }

div.pages .qualification .cards .card .content {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    position: inherit;

    --prev-margin: 300px;
    --cur-marign: -300px
}

div.pages .qualification .cards .card .card-normal{
    width: 300px;
    height: 300px;
    background-color: var(--qua-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

div.pages .qualification .cards .card .card-normal i {
    font-size: 100px;
    color: var(--qua-logo-color);
}

div.pages .qualification .cards .card .card-normal h1 {
    color: var(--qua-text-color);
}

div.pages .qualification .cards .card .card-hovered{
    width: 300px;
    height: 300px;
    position: inherit;
    background-color: var(--qua-card-hover-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
}

div.pages .qualification .cards .card .card-hovered h1 {
    color: var(--qua-card-hover-head);
}

div.pages .qualification .cards .card .card-hovered p {
    text-align: center;
    color: var(--qua-card-hover-text);
}

div.pages .projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

div.pages .projects .cards {
    width: 100vw;
    padding: 0 5vw;
    height: calc(100vh - 50px);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
}

div.pages .projects .cards .card {
    width: 300px;
    height: 300px;
    background-color: var(--qua-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem;
}

div.pages .projects .cards .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.5s;
    transition-delay: 300ms;
}

div.pages .projects .cards .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

div.pages .projects .cards .card:nth-child(2) {
    transition-delay: 400ms;
}

div.pages .projects .cards .card:nth-child(3) {
    transition-delay: 500ms;
}

div.pages .projects .cards .card:nth-child(4) {
    transition-delay: 600ms;
}

div.pages .projects .cards .card:nth-child(5) {
    transition-delay: 700ms;
}

div.pages .projects .cards .card:nth-child(6) {
    transition-delay: 800ms;
}

div.pages .projects .cards .card:nth-child(7) {
    transition-delay: 900ms;
}

div.pages .projects .cards .card:nth-child(8) {
    transition-delay: 1000ms;
}

div.pages .projects .cards .card:nth-child(9) {
    transition-delay: 1100ms;
}

div.pages .projects .cards .card:nth-child(10) {
    transition-delay: 1200ms;
}

div.pages .projects .cards .card:nth-child(11) {
    transition-delay: 1300ms;
}

div.pages .projects .cards .card:nth-child(12) {
    transition-delay: 1400ms;
}

::-webkit-scrollbar {
    display: none;
  }

div.pages .projects .cards .card .content {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    position: inherit;

    --prev-margin: 300px;
    --cur-marign: -300px
}

div.pages .projects .cards .card a {
    color: inherit;
    text-decoration: none;
}

div.pages .projects .cards .card .card-normal{
    width: 300px;
    height: 300px;
    background-color: var(--qua-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
}

div.pages .projects .cards .card .card-normal i {
    font-size: 100px;
    color: var(--qua-logo-color);
}

div.pages .projects .cards .card .card-normal h1 {
    color: var(--qua-text-color);
    text-align: center;
    width: 250px;
}

div.pages .projects .cards .card .card-hovered{
    width: 300px;
    height: 300px;
    position: inherit;
    background-color: var(--qua-card-hover-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
}

div.pages .projects .cards .card .card-hovered h1 {
    color: var(--qua-card-hover-head);
    text-align: center;
}

div.pages .projects .cards .card .card-hovered p {
    text-align: center;
    color: var(--qua-card-hover-text);
}

div.pages .contacts {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pages .contacts .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
    transition-delay: 500ms;
}

div.pages .contacts .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

div.pages .contacts .contact-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    margin-top: 50px;
}

div.pages .contacts .contact-cont a{
    text-decoration: none;
    margin-top: 3rem;
}

div.pages .contacts .contact-cont > h1 {
    color: var(--contact-head);
}

div.pages .contacts .contact-cont p {
    color: var(--contact-subhead);
}

div.pages .contacts .contact-cont .lists{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

div.pages .contacts .contact-cont .lists .list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


div.pages .contacts .contact-cont .lists .list i {
    font-size: 70px;
    color: var(--contact-logo-color);
    background-color: var(--contact-logo-bg-color);
    border-radius: 10rem;
    padding: 1rem;
}

div.pages .contacts .contact-cont .lists .list i:hover {
    background-color: var(--contact-logo-hover-bg-color);
    color: var(--contact-logo-hover-color);
    animation: contact-hover 0.2s ease-out;
}

div.pages .contacts .contact-cont h1 {
    color: var(--contact-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    div.main {
        display: none;
    }
}

@media screen and (max-width: 767px){
    div.main {
        display: none;
    }
}